@import "./fonts/fonts.scss";

* {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}

body {
  background-color: #0f0f11;
}

.container {
  max-width: 1500px;
  margin: 0 auto;
}

.app {
  font-family: "Montserrat";
}

.hidden {
  display: none;
}

@media (min-width: 600px) {
  html {
    font-size: 10px;
  }
}
