@import "./fonts/fonts.scss";
@import "./reset.scss";
@import "./vars.scss";

* {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;

  &.glass-bg {
    padding: 3rem;
    border-radius: 1.6rem;
    background-color: #ffffff16;
    border: 1px solid #ffffff2a;
  }

  &.grey-bg {
    padding: 3rem;
    border-radius: 1.6rem;
    background-color: #333333;
    border: 1px solid #ffffff2a;
  }
}

body {
  background-color: #233429;
}

.container {
  width: 100%;
  max-width: 90%;
  margin: 0 auto;
}

.app {
  font-family: "Montserrat";
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.hidden {
  display: none;
}

.modal-form {
  position: relative;
  .close {
    width: 3rem;
    height: 3rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: flex;
    align-items: center;
    transition: 0.4s;
    &:hover {
      transform: scale(0.9);
      cursor: pointer;
    }
    &__line {
      position: relative;
      width: 100%;
      height: 2px;
      &::after,
      &::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 2px;

        background-color: #fff;
      }
      &::after {
        transform: rotate(45deg);
      }
      &::before {
        transform: rotate(-45deg);
      }
    }
  }
}

.page {
  position: relative;
  height: 100%;
  width: 100%;
  flex: 100% 1 1;
  display: flex;
  justify-content: center;
}

.link {
  text-decoration: underline;
  cursor: pointer;
  &:hover {
    text-decoration: none;
  }
}

html {
  font-size: 10px;
}
@media (min-width: 600px) {
}
